:root{
  color: #059848;
  color: #FFFFFF
}

.main-banner{
  width: 100%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
}

.main-banner .img-banner{
  width: 100%;
  height: 115vh;
position: absolute;
object-fit: cover;
top: 0;
z-index: -1;
}

.main-banner .main-banner-h1-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-banner h1{
  font-weight: bolder;
  font-size: 100px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 50rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 20px;
}



.btn-Interest-to-export{
  width: 228px;
  height: 43px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}

@media screen and (max-width: 1025px){
  .main-banner h1{
  font-weight: bolder;
  font-size: 75px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 30rem;
  text-align: center;
}

.btn-Interest-to-export{
  width: 208px;
  height: 40px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}

@media screen and (max-width: 640px) {

.main-banner{
  height: 70vh;
}
    .main-banner h1{
  font-weight: bolder;
  font-size: 50px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 25rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 15px;
}


.btn-Interest-to-export{
  width: 180px;
  height: 30px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}



@media screen and (max-width: 426px) {

.main-banner{
  height: 70vh;
}
    .main-banner h1{
  font-weight: bolder;
  font-size: 40px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 18rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 13px;
}


.btn-Interest-to-export{
  width: 180px;
  height: 30px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}

.first-sub-card-context p,
.first-sub-card-context h5,
.first-sub-card-context h4{
  margin: 0;
  padding: 0;
}

.first-card{
  position: relative;
  width: 100%;
  height: 170vh;
  padding-top: 18rem;
  margin-top: -12% !important;
}

@media screen and (max-width: 2561px) and (min-width: 1441px){
  .first-card{
  position: relative;
  width: 100%;
  height: 170vh;
  padding-top: 18rem;
  margin-top: -18% !important;
}
}


@media screen and (max-width: 1440px) and (min-width: 1025px){
  .first-card{
  position: relative;
  width: 100%;
  height: 170vh;
  padding-top: 18rem;
  margin-top: -13% !important;
}
}


@media screen and (max-width: 1024px) and (min-width: 769px){
  .first-card{
  position: relative;
  width: 100%;
  height: 170vh;
  padding-top: 18rem;
  margin-top: -18% !important;
}
}

@media screen and (max-width: 992px) {
  .first-card{
  width: 100%;
  height: 100%;
}

}

.first-card-background{
    z-index: 0 !important;
    position: absolute;
 height: 100%;
  width: 100%;
  top: 0;
}

.first-card-background img{
  object-fit: cover;
  width: 100%;
  height: 170vh;

}

.first-card .first-card-sub-title{
  width: 100%;
  position: relative;
  z-index: 2 !important;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.first-card .first-card-sub-title p{
  max-width: 100%;
text-align: center;
  font-size: 20px;


}

@media screen and (max-width: 426px) {
 .first-card .first-card-sub-title p{
  font-size: 16px;
}
}


@media screen and (max-width: 769px) {

.main-banner{
  width: 100%;
  height: 100vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
}


.btn-Interest-to-export{
  width: 228px;
  height: 43px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 2rem;
}
}


.card-product{
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
}

.card-product .first-sub-card{
  width: 100%;
  height: 450px;
  background-color: #FFFFFF;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border: 1px solid #DBDBDB;
}

@media screen and (max-width: 1396px) {
  .card-product .first-sub-card{
  height: 490px;
}
}

@media screen and (max-width: 769px) {
    .card-product .first-sub-card{
  height: 450px;
}

.first-card{
  width: 100%;
  height: 100%;
}
}

@media screen and (max-width: 426px) {
    .card-product .first-sub-card{
  height: 490px;
}
}

.card-product .first-sub-card h5{
  font-weight: bold;
  font-size: 20px;
  color: #FF5900;
}

.card-product .first-sub-card p{
  font-size: 15px;
}

.card-product .second-sub-card{
  width: 100%;
  height: 116px;
  background-color: #FF5900;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
  border: 1px solid #DBDBDB;
}


.wrapper-contact{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 1rem;
  width: 100%;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.wrapper-contact p{
  text-align: center;
  color:#059848;
  font-size: 30px;
}

.wrapper-contact .input-field input{
  width: 100%;
  height: 49px;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
  outline: none !important;
}

.wrapper-contact .input-field input::placeholder{
  font-size: 16px !important;
  color: #394552 !important;
}

.wrapper-contact .input-field input:focus{
  border: 1px solid #059848 !important;
}

.wrapper-contact .input-field textarea{
  width: 100%;
  max-height: auto;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
}

.wrapper-contact .input-field textarea::placeholder{
  color: #394552;
}

.wrapper-contact .input-field textarea:focus{
  border: 1px solid #059848 !important;
}

.wrapper-contact .input-field select{
  width: 100%;
  height: 49px;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
  outline: none !important;
  border: 1px solid #394552;
}

.wrapper-contact .input-field select option{
background-color: #059848;
color: #ffffff
}

.confirm-policy{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.confirm-policy input[type="checkbox"]{
  width: 27px;
  height: 27px;
  border-radius: 100px;
  background-color: #059848;
  border: none;
}

.confirm-policy input[type="checkbox"]:focus,
.confirm-policy input[type="checkbox"]:active
{
  box-shadow: none;
 background-color: #059848;
}

.confrim-policy-text{
  width: 25rem;
}

.confirm-policy p{
  font-size: 15px;
  color: #059848;
}

.btn-Submit{
  position: relative;
  width: 396.97px;
  height: 80.14px;
  margin-top: 2rem;
}

.btn-Submit img{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.btn-Submit p{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 0.2rem;
  font-size: 35px;
}


@media screen and (max-width: 768px) {
  .wrapper-contact{
  margin-top: 1rem;
  padding-top: 1rem;
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.btn-Submit{
  width: 356.97px;
  height: 75.14px;
  margin-top: 2rem;
}

.btn-Submit p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 0rem;
}

.confirm-policy p{
  font-size: 14px;
  color: #059848;
}
}

@media screen and (max-width: 426px) {
  .btn-Submit{
  width: 286.97px;
  height: 68.14px;
  margin-top: 2rem;
}

.btn-Submit p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: -0.3rem;
  font-size: 25px;
}
}


.meet-our-team-card{
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  position: relative;
  z-index: 60;
}



.meet-our-team-card h1{
 font-size: 25px;
 font-weight: bold; 
 color: #059848;
 text-align: center;
 margin-bottom: 2rem;
}

.meet-our-team-card .card-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.card-profile img{
  width: 180px;
  height: 180px;
}

.card-profile .profile-name{
font-size: 20px;
margin-top: 0.5rem;
}

.card-profile .profile-position{
  font-size: 15px;
  color:#059848 !important
}

.card-profile img,
.card-profile p{
  margin: 0;
  padding: 0;
}

.credentail-card-title h1{
  font-size: 25px;
  color: #059848;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.business-credentail-card{
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-credentail-card-wrapper{
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 992px){
  .business-credentail-card-wrapper{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  display: flex;
  flex-direction: column !important;
  gap: 1rem;
  align-items: center;
}
}




.last-banner{
  width: 100%;
  height: 70vh;
}

.last-banner img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

@media screen and (max-width: 769px) {
  .last-banner{
  width: 100%;
  height: 50vh;
}

.last-banner img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
}

@media screen and (max-width: 426px) {
  .last-banner{
  width: 100%;
  height: 40vh;
}

.last-banner img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

}


.second-banner{
  width: 100%;
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;
  
}

/* .second-banner .second-banner-img{
width: 100%;
  height: 150vh;
object-fit: cover;
position: absolute;
top: 0%;
z-index: -1;
} */

.second-banner .second-banner-context{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  margin-top: -25rem  !important;
}

.second-banner .second-banner-context h5{
  font-size: 20px;
  color: #059848;
  margin-top: 1rem;
  font-weight: bold;
}

.second-banner .second-banner-context .p-bg{
  width: 70rem;
  max-width: 100%;
  margin-top: 1rem;
}

.second-banner .second-banner-context .p-bg p{
    font-size: 20px;
   color: #1E1E1E;
   text-align: center;
}


@media screen and (max-width: 768px) {
  .second-banner .second-banner-context h5{
  font-size: 16px;
}

.second-banner .second-banner-context .p-bg p{
    font-size: 16px;
}
}


@media screen and (max-width: 426px) {
  .second-banner .second-banner-context{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  margin-top: -20rem  !important;
}
}







