:root{
  color: #059848;
  color: #FFFFFF
}

.main-banner{
  width: 100%;
  height: 115vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
}

.main-banner .img-banner{
  width: 100%;
  height: 115vh;
position: absolute;
object-fit: cover;
top: 0;
z-index: -1;
}

.main-banner .main-banner-h1-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-banner h1{
  font-weight: bolder;
  font-size: 100px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 50rem;
  text-align: center;
}

.main-banner .main-banner-p-bg .sub-1{
  font-size: 30px;
}

.main-banner .main-banner-p-bg .sub-2{
  font-size: 15px;
  color: #059848
}

.btn-Interest-to-export{
  width: 228px;
  height: 43px;
  background-color: #FFFFFF;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}

@media screen and (max-width: 1025px){
  .main-banner h1{
  font-weight: bolder;
  font-size: 75px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 30rem;
  text-align: center;
}

.btn-Interest-to-export{
  width: 208px;
  height: 40px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}

@media screen and (max-width: 640px) {

.main-banner{
  height: 70vh;
}
    .main-banner h1{
  font-weight: bolder;
  font-size: 50px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 25rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 15px !important;
}


.btn-Interest-to-export{
  width: 180px;
  height: 30px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}



@media screen and (max-width: 426px) {

.main-banner{
  height: 70vh;
}
    .main-banner h1{
  font-weight: bolder;
  font-size: 40px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 18rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 10px;
}


.btn-Interest-to-export{
  width: 180px;
  height: 30px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}

.first-card{
  position: relative;
  width: 100%;
 height: 89vh;
 margin-bottom: 2rem;
}

.first-card-background{
    z-index: 0 !important;
    position: absolute;
 height: 100vh;
  width: 100%;
  top: 0
}

.first-card-background img{
  width: 100%;
 height: 100vh;
   object-fit: cover;
}




@media screen and (min-width: 991px) and (max-width: 1024px) {
  .first-card{
margin-bottom: 1rem;
}

.first-card-background img{
  width: 100%;
 height: 100vh;
   object-fit: cover;
}
}


@media screen and (max-width: 991px) {
.first-card{
margin-bottom: 15rem;
}

.first-card-background img{
  width: 100%;
 height: 140vh;
   object-fit: cover;
}
}


@media screen and (max-width: 768px) {

.main-banner{
  width: 100%;
  height: 100vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
}


.btn-Interest-to-export{
  width: 228px;
  height: 43px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 2rem;
}
}


.career-main-form{
position: relative;
z-index: 2;  
background-color: #059848;
width: 100%;
padding-bottom: 4rem;
padding-top: 4rem;
margin-bottom: 15rem;
padding-left: 10rem;
padding-right: 10rem;
}

@media screen and (max-width: 1025px) {
  .career-main-form{
padding-left: 5rem;
padding-right: 5rem;
}
}

@media screen and (max-width: 769px) {
  .career-main-form{
padding-left: 1rem;
padding-right: 1rem;
}
}

@media screen and (max-width: 426px) {
  .career-main-form{
padding-left: 0.8rem;
padding-right: 0.8rem;
}
}

.career-input-form input{
background-color: #FFFFFF;
height: 53px;
width: 100%;
padding-left: 1rem;
outline: none;
border-radius: 49.5px;
margin-bottom: 1rem;
padding-left: 2rem;
padding-top: 0.7rem;
  font-size: 16px; 
}

.career-input-form select{
background-color: #FFFFFF;
height: 53px;
width: 100%;
padding-left: 1rem;
outline: none;
border-radius: 49.5px;
margin-bottom: 1rem;
padding-left: 2rem;
font-size: 16px; 
}

.career-input-form select option{
background-color: #FFFFFF;
color: #394552;
}

.career-input-form input::placeholder{
  font-size: 16px; 
  color: #394552
}

.career-file-form{
  background-color: #FFFFFF;
height: 53px;
width: 100%;
outline: none;
border-radius: 49.5px;
margin-bottom: 1rem;
font-size: 16px; 
position: relative;
}

.career-file-form input[type="file"]{
  background-color: #ff0808;
height: 100%;
width: 100%;
outline: none;
border-radius: 49.5px;
margin-bottom: 1rem;
font-size: 16px; 
opacity: 0;
position: absolute;
top: 0;
z-index: 1;
}

.career-file-form input[type="file"]::file-selector-button{
display: none;
}

.career-file-form label{
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: 2rem;
}

.btn-career-submit {
  position: relative;
  width: 396.97px;
  height: 80.14px;
  margin-bottom: 1rem;
}

.btn-career-submit img{
  position: absolute;
  top: 0;
  z-index: 0;
}

.btn-career-submit p{
  position: relative;
  z-index: 1;
  font-size: 35px;
  color: #FFFFFF;
  margin-top: 0.7rem;
}


@media screen and (max-width: 611px) {
  .btn-career-submit {
  position: relative;
  width: 300.97px;
  height: 65.14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-career-submit p{
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 0.7rem;
}
}

@media screen and (max-width: 426px) {
  .btn-career-submit {
  position: relative;
  width: 250.97px;
  height: 50.14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-career-submit p{
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 0.7rem;
}
}

