:root{
  color: #059848;
  color: #FFFFFF
}

.main-banner{
  width: 100%;
  height: 115vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
}

.main-banner .img-banner{
  width: 100%;
  height: 115vh;
position: absolute;
object-fit: cover;
top: 0;
z-index: -1;
}

.main-banner .main-banner-h1-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-banner h1{
  font-weight: bolder;
  font-size: 100px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 50rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 20px;
}

.btn-Interest-to-export{
  width: 228px;
  height: 43px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}

@media screen and (max-width: 1025px){
  .main-banner h1{
  font-weight: bolder;
  font-size: 75px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 30rem;
  text-align: center;
}

.btn-Interest-to-export{
  width: 208px;
  height: 40px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}

@media screen and (max-width: 640px) {

.main-banner{
  height: 70vh;
}
    .main-banner h1{
  font-weight: bolder;
  font-size: 50px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 25rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 15px;
}


.btn-Interest-to-export{
  width: 180px;
  height: 30px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}



@media screen and (max-width: 426px) {

.main-banner{
  height: 70vh;
}
    .main-banner h1{
  font-weight: bolder;
  font-size: 40px;
  color: #059848;
}

.main-banner .main-banner-p-bg{
  width: 18rem;
  text-align: center;
}

.main-banner .main-banner-p-bg p{
  font-size: 13px;
}


.btn-Interest-to-export{
  width: 180px;
  height: 30px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 3rem;
}
}

.first-card{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 13rem;
  margin-top: -10% !important;
}

@media screen and (max-width:769px) {
  .first-card{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 9rem;
  margin-top: -10% !important;
}
}

.first-card-background{
    z-index: 0 !important;
    position: absolute;
 height: 100%;
  width: 100%;
  top: 0

}

.first-card-background img{
  object-fit: cover;
  width: 100%;
  height: 170vh;
}



@media screen and (max-width: 1440px) and (min-width: 768px){
  .first-card{
  position: relative;
  width: 100%;
  height: 170vh;
  padding-top: 18rem;
  margin-top: -15% !important;
}
}

.main-banner{
  width: 100%;
  height: 100vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
}


.btn-Interest-to-export{
  width: 228px;
  height: 43px;
  background-color: #FFFFFF;
  font-weight: bolder;
  color: #059848;
  border-radius: 41.5px;
  margin-top: 2rem;
}


.main-card-product{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.wrapper-contact{
  margin-top: 15rem;
  margin-bottom: 5rem;
  padding-top: 1rem;
  width: 100%;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.wrapper-contact p{
  text-align: center;
  color:#059848;
  font-size: 30px;
}

.wrapper-contact .input-field input{
  width: 100%;
  height: 49px;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
  outline: none !important;
}

.wrapper-contact .input-field input::placeholder{
  font-size: 16px !important;
  color: #394552 !important;
}

.wrapper-contact .input-field input:focus{
  border: 1px solid #059848 !important;
}

.wrapper-contact .input-field textarea{
  width: 100%;
  max-height: auto;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
}

.wrapper-contact .input-field textarea::placeholder{
  color: #394552;
}

.wrapper-contact .input-field textarea:focus{
  border: 1px solid #059848 !important;
}

.wrapper-contact .input-field select{
  width: 100%;
  height: 49px;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
  outline: none !important;
  border: 1px solid #394552;
}

.wrapper-contact .input-field select option{
background-color: #059848;
color: #ffffff
}

.confirm-policy{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.confirm-policy input[type="checkbox"]{
  width: 27px;
  height: 27px;
  border-radius: 100px;
  background-color: #059848;
  border: none;
}

.confirm-policy input[type="checkbox"]:focus,
.confirm-policy input[type="checkbox"]:active
{
  box-shadow: none;
 background-color: #059848;
}

.confrim-policy-text{
  width: 25rem;
}

.confirm-policy p{
  font-size: 15px;
  color: #059848;
}

.btn-Submit{
  position: relative;
  width: 396.97px;
  height: 80.14px;
  margin-top: 2rem;
}

.btn-Submit img{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.btn-Submit p{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 0.2rem;
  font-size: 35px;
}


@media screen and (max-width: 768px) {


  .wrapper-contact{
  margin-top: 5rem;
  padding-top: 1rem;
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.btn-Submit{
  width: 356.97px;
  height: 75.14px;
  margin-top: 2rem;
}

.btn-Submit p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 0rem;
}

.confirm-policy p{
  font-size: 14px;
  color: #059848;
}
}

@media screen and (max-width: 426px) {
  .btn-Submit{
  width: 286.97px;
  height: 68.14px;
  margin-top: 2rem;
}

.btn-Submit p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: -0.3rem;
  font-size: 25px;
}
}

.event-card-wrapper{
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.event-card-wrapper .event-img{
  width: 1200px;
  max-width: 100%;
  max-width: 100%;
  height: 325.79px;
  border-radius: 20px;
  background-color: #CCC9C9;
}

.event-card-wrapper .event-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.event-card-wrapper .event-content{
  width: 1700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-card-wrapper .event-content h5{
  font-size: 40px !important;
}

.event-card-wrapper .event-content p{
  font-size: 20px;
}


@media screen and (max-width: 769px) {
  .event-card-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
}

.event-card-wrapper .event-img{
  order: 1;
}

.event-card-wrapper .event-content{
  order: 2;
}

.event-card-wrapper .event-content h5{
  font-size: 30px !important;
}

.event-card-wrapper .event-content p{
  font-size: 15px;
}
}



.last-banner{
  width: 100%;
  height: 70vh;
}

.last-banner img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

@media screen and (max-width: 769px) {
  .last-banner{
  width: 100%;
  height: 50vh;
}

.last-banner img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

}


@media screen and (max-width: 426px) {
  .last-banner{
  width: 100%;
  height: 40vh;
}

.last-banner img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

}







