:root {
  color: #059848;
}

.main-banner{
  width: 100%;
  height: 115vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.main-banner .img-banner{
  width: 100%;
  height: 115vh;
position: absolute;
object-fit: cover;
top: 0;
z-index: -1;
}

.main-banner .home-banner-logo{
  width: 400px;
  margin-top: -2rem;
}

.main-banner .home-banner-logo img{
 width: 100%;
}

.main-banner .home-banner-context{
  text-align: center;
}

.main-banner .home-banner-context h5{
  font-size: 30px;
  font-weight: bold;
}

.main-banner .home-banner-context h1{
  font-size: 90px;
  font-weight: bolder;
  color:#059848
}

.main-banner .home-banner-context h3{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.main-banner .home-banner-context .btn-explore-our-exports{
  position: relative;
  width: 319.03px;
  height: 64.41px;
}

.main-banner .home-banner-context .btn-explore-our-exports img{
  position: absolute;
  top: 0%;
  z-index: 1;
}

.main-banner .home-banner-context .btn-explore-our-exports p a {
  color: #ffffff;
  text-decoration: none;
}

.main-banner .home-banner-context .btn-explore-our-exports p{
  width: 100%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #FFFFFF;
}

@media screen and (max-width: 1025px) {
  .main-banner{
  width: 100%;
  height: 115vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-banner .home-banner-logo{
  width: 260px;
}

.main-banner .home-banner-logo img{
 width: 100%;
}

.main-banner .home-banner-context{
  text-align: center;
}

.main-banner .home-banner-context h5{
  font-size: 15px;
  font-weight: bold;
}

.main-banner .home-banner-context h1{
  font-size: 50px;
  font-weight: bolder;
  color:#059848
}

.main-banner .home-banner-context h3{
  font-size: 30px;
  font-weight: bold;
}

.main-banner .home-banner-context .btn-explore-our-exports{
  position: relative;
  width: 270.03px;
  height: 50.41px;
}

.main-banner .home-banner-context .btn-explore-our-exports p{
  width: 100%;
  font-size: 18px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #FFFFFF;
}
}

@media screen and (max-width: 769px) {
  .main-banner{
  width: 100%;
  height: 115vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
}
}


@media screen and (max-width: 426px) {

    .main-banner{
  gap: 2rem;
}


.main-banner .home-banner-logo{
  width: 230px;
  max-width: 100%;
}


.main-banner .home-banner-context h5{
  font-size: 13px;
  font-weight: bold;
}

.main-banner .home-banner-context h1{
  font-size: 35px;
  font-weight: bolder;
  color:#059848
}

.main-banner .home-banner-context h3{
  font-size: 18px;
  font-weight: bold;
}

.main-banner .home-banner-context .btn-explore-our-exports{
  position: relative;
  width: 230.03px;
  height: 35.41px;
}

.main-banner .home-banner-context .btn-explore-our-exports p{
  width: 100%;
  font-size: 15px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #FFFFFF;
}
}

.home-first-banner{
  margin-top: -10rem;
}

@media screen and (min-width: 769px) and (max-width: 952px) {
  .home-first-banner{
  margin-top: -15%;
}
}

@media screen and (max-width: 769px) {
  .home-first-banner{
  margin-top: -6rem;
}
}

.we-start{
  width: 100%;
  height: 60vh;
  background-color: #DBDBDB;
  position: relative;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.we-start .we-start-bg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  opacity: 0.7 !important;
}


.we-start .we-start-context{
  position: relative;
  z-index: 60;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: -7rem;
}


.we-start .we-start-context p{
   width: 34rem;
   font-size: 20px;
   color: #1E1E1E;
   font-weight: 200;

}

.we-start .we-start-context h5{
  font-size: 20px;
  color: #059848;
  font-weight: bolder;
}

.we-start .we-start-person{
  position: absolute;
  bottom: 0;
  z-index: 50 !important;
  left: -10%;
  width: 110vh;
  max-width: 100%;
}

.we-start .we-start-perso img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1025px) {
  .we-start .we-start-context p{
   font-size: 16px;
}

.we-start .we-start-context h5{
  font-size: 16px;
}

.we-start .we-start-person{
  width: 90vh;
}

.we-start{
  height: 50vh;
}

.we-start .we-start-bg{
  height: 50vh;
}
}

.we-start .we-start-person-none{
 display: none;
 position: absolute;
 z-index: 50 !important;
 bottom: 0;
 width: 40vh;
}

.we-start .we-start-perso-none img{
  opacity: 1 !important;
}

@media screen and (max-width: 769px) {
  .we-start .we-start-context p{
   font-size: 14px;
}

.we-start .we-start-context h5{
  font-size: 14px;
}

.we-start .we-start-person{
  width: 80vh;
}

.we-start{
  height: 50vh;
}

.we-start .we-start-bg{
  height: 50vh;
}

.we-start .we-start-person{
  display: none;
}

.we-start .we-start-person-none{
 display: block;
}

.we-start .we-start-context{
  gap: 1rem;
  margin-top: -10rem;
}

}


@media screen and (max-width: 566px) {
  .we-start .we-start-context p{
   width: 100%;
}

.we-start .we-start-person-none{
 width: 35vh;
}
}


.card{
  border: none !important;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.card img{
width: 100%;
}

.card .card-content{
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  height: auto;
  background-color: #ECECEC;
  border-radius: 20px;
   padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 4rem;
  padding-bottom: 0.2rem;
}

.card-content h4{
  color:#059848;
  font-weight: bolder;
}

.wrapper-card-content{
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.wrapper-card-content .btn-explore{
  background: linear-gradient(to right, #8DC640, #059848);
  font-weight: bolder;
  width: 160px;
  height: 45px;
  font-size: 0.9rem;
  border-radius: 41.5px;
  color: #ffffff;
}

.wrapper-card-content .btn-explore a{
  color: #ffffff;
  text-decoration: none;
}


.wrapper-card-content h1{
  color: #059848;
}

.card-content-logo {
  background-color: #059848;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: -16%
}

.card-content-logo img{
  width: 50%;
}

@media screen and (max-width: 1399.5px){

 .card{
    margin-bottom: 10rem;
 }

 .card .card-content{
  bottom: -80%;
  width: 320px;
} 

.wrapper-card-content{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.card-content-logo {
  background-color: #059848;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: -10%
}
}


@media screen and (max-width: 1199.5px) {
 .card{
    margin-bottom: 14rem;
 }


   .card .card-content{
  bottom: -125%;
  width: 280px;
} 


.wrapper-card-content{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
}

@media screen and (max-width: 991.5px) {
     .card .card-content{
  bottom: -90%;
  width: 310px;
} 

.card{
  margin-bottom: 11rem;
}
}

@media screen and (max-width: 769px) {
.card{
  margin-bottom: 7rem;
}

.card .card-content{
  bottom: -40%;
  width: 320px;
  max-width: auto;
} 

 .wrapper-card-content{
    margin-bottom: 0.3rem;
  }
}


@media screen and (max-width: 538.5px){
  .card .card-content{
    width: 390px;
  }
}


@media screen and (max-width: 425.5px) {
.card{
  margin-bottom: 8rem;
}

  .card .card-content{
    bottom: -60% !important;
    width: 290px;
  }
}

@media screen and (max-width: 375.5px) {
  .card{
    margin-bottom: 10rem;
  }

  .card .card-content{
    bottom: -80% !important
  }
}


@media screen and (max-width: 344.5px) {
    .card{
    margin-bottom: 11rem;
  }

  .card .card-content{
    bottom: -95% !important
  }
}

.achievement{
  position: relative;
  margin-top: 3rem !important;
    width: 100%;
  height: 30rem;
}

.achievement .firstbg-achievement{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  position: absolute;
  z-index: 5;
}


.achievement h4{
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
}



.achievement-content{
  position: absolute;
  top: 10%;
  width: 100%;
    z-index: 5 !important;
}

.achievement-content h4{
  text-align: center;
}

.achievement-card{
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  
}

.achievement-card-img{
  margin-left: -6rem;
}

.achievement-card-img img{
 width: 96px;
 height: 96px;
}

.achievement-card-content{
  display: flex;
  gap: 10px;
}

.achievement-card-content h1{
  font-size: 55px;
  color: #8DC640;
  margin-top: 0.2rem;
}


.achievement-card-content p{
  width: 180px;
  font-size: 16px;
  height: max-content;
  margin-top: 0.7rem;
  color: #ffffff
}

.wrapper-achievement-card{
  padding-left: 5rem !important;
  padding-right: 5rem !important;

}


@media screen and (max-width: 1222.5px) {

.achievement h4{
  color: #ffffff;
  font-size: 22px;
  font-weight: bolder;
}

  .achievement-card-img img{
 width: 60px;
 height: 60px;
}

.achievement-card-content h1{
  font-size: 38px;
  color: #8DC640
}

.achievement-card-content p{
  width: 150px;
  font-size: 15px;
  height: max-content;
  margin-top: 0.5rem;
  color: #ffffff
}
}

@media screen and (max-width: 1025px) {
  .achievement h4{
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
}
}


@media screen and (max-width: 991.5px) {
  .achievement-card{
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

  .achievement-card-img img{
 width: 65px;
 height: 65px;
}

.achievement-content{
  position: absolute;
  top: 5%;
  width: 100%;
}
}

@media screen and (max-width: 769px) {
.achievement-card-img{
  margin-left: 0rem;
}

.achievement-card-content{
  display: flex;
  flex-direction: column;
}
  
  .achievement-card-content h1{
  font-size: 35px;
  color: #8DC640;
  text-align: center;
}

.achievement-card-content p{
  font-size: 14px;
  height: max-content;
  color: #ffffff;
  margin-top: -1rem;
  text-align: center;
}

.achievement h4{
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 1rem;
}

.achievement-card{
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

}

@media screen and (max-width: 525.5px) {
  .achievement-card-img img{
 width: 55px;
 height: 55px;
}

.achievement-card-content h1{
  font-size: 35px;
  color: #8DC640
}

.achievement-card-content p{
  width: 190px;
  font-size: 14px;
  height: max-content;
    margin-top: -1rem;
  color: #ffffff
}

.achievement-card-content{
  display: flex;
  gap: 5px;
  width: 170px;
}

.wrapper-achievement-card{
  padding-left: 3.7rem !important;
  padding-right: 3.7rem !important;

}
}
 

@media screen and (max-width: 432.5px) {
    .achievement-card-img img{
 width: 50px;
 height: 50px;
}

.achievement-card-content h1{
  font-size: 35px;
  color: #8DC640
}

.achievement-card-content p{
  width: 170px;
  font-size: 13px;
  height: max-content;
  max-width: 100%;
  margin-top: -1rem;
  color: #ffffff
}

.achievement-card-content{
  display: flex;
  gap: 5px;
  width: 140px;
}


.wrapper-achievement-card{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
}

.achievement-main-logo{
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 5 !important;
}

.achievement-main-logo img{ 
  width: 192.09px;
  height: 192.09px;
}


@media screen and (max-width: 991.5px) {
  .achievement-main-logo{
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%);
}

.achievement-main-logo img{ 
  width: 142.09px;
  height: 142.09px;
}
}


@media screen and (max-width: 692.5px) {
  .achievement-main-logo{
  position: absolute;
  bottom: -13%;
  left: 50%;
  transform: translate(-50%);
}

.achievement-main-logo img{ 
  width: 122.09px;
  height: 122.09px;
}
}

.background-achievement-main{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.background-achievement-main img{
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

.FAQ-background{
  margin-top: 13rem;
  padding-bottom: 5rem;
  width: 100%;
  height: max-content;
  background-color: #ECECEC;
}

.FAQ-content{
  padding-top: 4rem;
}

.FAQ-content h1{
  color: #8DC640;
  font-weight: bolder;font-weight: 40px;
}

.FAQ-content h5{
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 15px;
}

.drop-down-card{
  width: 100%;
  max-height: auto;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  border: 1px solid #DBDBDB;
}

.drop-down-card p{
  margin-top: 1rem;
  font-size: 15px;
}

.drop-down-card button svg{
  width: 60px;
}

.drop-down-card button svg.active{
  transform: rotate(180deg);
  margin-top: -2.5rem;
}

.drop-down-card .question span.active{
  display: none;
}

.qanda .answer{
  color: #059848
}

.qanda .answer{
  display: none;
}

.qanda .answer.active{
  display: block;
}

@media screen and (max-width: 1200px) {
.drop-down-card button svg.active{
  transform: rotate(180deg);
  margin-top: -3.5rem;
}
}

@media screen and (max-width: 992px) {
.drop-down-card button svg.active{
  transform: rotate(180deg);
  margin-top: -5rem;
}
}

@media screen and (max-width: 768px) {
.drop-down-card button svg.active{
  transform: rotate(180deg);
  margin-top: -3rem;
}
}

@media screen and (max-width: 426px) {
.drop-down-card button svg.active{
  transform: rotate(180deg);
  margin-top: -4rem;
}
}

@media screen and (max-width: 326px) {
.drop-down-card button svg.active{
  transform: rotate(180deg);
  margin-top: -6rem;
}
}

.wrapper-contact{
  margin-top: 3rem !important;
  padding-top: 2.5rem;
  width: 100%;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.wrapper-contact p{
  text-align: center;
  color:#059848;
  font-size: 30px;
}

.wrapper-contact .input-field input{
  width: 100%;
  height: 49px;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
  outline: none !important;
}

.wrapper-contact .input-field select{
  width: 100%;
  height: 49px;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
  outline: none !important;
  border: 1px solid #394552;
}

.wrapper-contact .input-field select option{
background-color: #059848;
color: #ffffff
}

.wrapper-contact .input-field input::placeholder{
  font-size: 16px !important;
  color: #394552 !important;
}

.wrapper-contact .input-field input:focus{
  border: 1px solid #059848 !important;
}

.wrapper-contact .input-field textarea{
  width: 100%;
  max-height: auto;
  border-radius: 24.5px;
  background-color: #ECECEC;
  padding-left: 1.5rem;
  font-size: 16px !important; 
  margin-bottom: 0.5rem;
}

.wrapper-contact .input-field textarea::placeholder{
  color: #394552;
}

.wrapper-contact .input-field textarea:focus{
  border: 1px solid #059848 !important;
}

.confirm-policy{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.confirm-policy input[type="checkbox"]{
  width: 27px;
  height: 27px;
  border-radius: 100px;
  background-color: #059848;
  border: none;
}

.confirm-policy input[type="checkbox"]:focus,
.confirm-policy input[type="checkbox"]:active
{
  box-shadow: none;
 background-color: #059848;
}

.confrim-policy-text{
  width: 25rem;
}

.confirm-policy p{
  font-size: 15px;
  color: #059848;
}

.btn-Submit{
  position: relative;
  width: 396.97px;
  height: 80.14px;
  margin-top: 2rem;
}

.btn-Submit img{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.btn-Submit p{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 0.2rem;
  font-size: 35px;
}


@media screen and (max-width: 768px) {


  .wrapper-contact{
  margin-top: 1rem;
  padding-top: 1rem;
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.btn-Submit{
  width: 356.97px;
  height: 75.14px;
  margin-top: 2rem;
}

.btn-Submit p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 0rem;
}

.confirm-policy p{
  font-size: 14px;
  color: #059848;
}
}

@media screen and (max-width: 426px) {
  .btn-Submit{
  width: 286.97px;
  height: 68.14px;
  margin-top: 2rem;
}

.btn-Submit p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: -0.3rem;
  font-size: 25px;
}
}


.rsl-trading{
  width: 95%;
  margin-top: 3rem;
}

.rsl-trading img{
  width: 100%
}

.rsl-trading .rsl-trading-context{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.rsl-trading .rsl-trading-context p{
  font-weight: 500 !important;
}

.rsl-trading .rsl-trading-context h5{
  color: #ffffff
}

.rsl-trading p{
  font-weight: 500;
}



